:root {
  --ecs-border-radius-sm: 4px;
  --ecs-border-radius: 6px;
  --ecs-grey: #9ca3af;
  --ecs-light-grey: #d1d5db;
  --ecs-lightest-grey: #e5e7eb;
  --ecs-primary-hover-colour: #1338cc;
  --ecs-x-padding: 2rem;
}
