.ecs-btn,
.single_add_to_cart_button,
.checkout-button,
#place_order,
.ecs-navbar-btn {
  padding: 0.7rem 1.33rem;
  border-radius: var(--ecs-border-radius);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--wp--preset--font-size--small);
}

.ecs-btn,
.single_add_to_cart_button,
.checkout-button,
#place_order {
  background-color: var(--wp--preset--color--primary);
}

.ecs-navbar-btn {
  background-color: var(--wp--preset--color--text);
}

.ecs-navbar-btn:hover {
  background-color: #0e0e1a;
}

.ecs-navbar-btn:active {
  background-color: black;
}

.ecs-btn:hover,
.single_add_to_cart_button:hover,
.checkout-button:hover,
#place_order:hover {
  background-color: var(--ecs-primary-hover-colour);
}

.ecs-btn:active,
.single_add_to_cart_button:active,
.checkout-button:active,
#place_order:active,
a.ecs-btn:active {
  background-color: #0f2e99;
}

a.ecs-btn,
.checkout-button,
.ecs-navbar-btn {
  text-decoration: none;
  line-height: normal;
  text-align: center;
}

a.ecs-btn:hover,
.checkout-button:hover,
.ecs-navbar-btn:hover {
  color: white;
}
