.ecs-btn {
  padding: 0.75em 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  color: white;
  background-color: var(--wp--preset--color--primary);
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
  font-weight: 500;
  font-family: inherit;
}

.ecs-btn:hover {
  background-color: #1338cc;
}

.ecs-btn:active {
  background-color: #0f2e99;
}
