.ecs-btn {
  padding: 0.75em 1.5rem;
  border-radius: var(--ecs-border-radius);
  color: white;
  background-color: var(--wp--preset--color--primary);
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.ecs-btn:hover {
  background-color: var(--ecs-primary-hover-colour);
}

.ecs-btn:active {
  background-color: #0f2e99;
}
