.ecs-header-banner {
  text-align: center;
  color: white;
  background-color: var(--wp--preset--color--primary);
  background-size: cover;
  background-position: center;
  height: fit-content;
  position: relative;
  padding: 3.25rem 0;
}

.ecs-header-banner-has-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ecs-header-banner > .ecs-container {
  position: relative;
  z-index: 1;
}

.ecs-header-banner > .ecs-container > h1 {
  margin: 0;
}

.ecs-header-banner > .ecs-container > div {
  margin-top: 1.5rem;
}
