.ecs-about-snippet {
  background-color: white;
  width: 100%;
}

.ecs-about-snippet > .ecs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.ecs-about-snippet > .ecs-container > img {
  width: 100%;
}

.ecs-about-snippet > .ecs-container > div > h2 {
  margin-top: 0;
}

@media (min-width: 782px) {
  .ecs-about-snippet > .ecs-container {
    flex-direction: row;
    gap: 3.5rem;
  }

  .ecs-about-snippet > .ecs-container > img {
    width: 38%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
