.ecs-hero {
  background-color: var(--wp--preset--color--text);
  width: 100%;
}

.ecs-hero > .ecs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.ecs-hero-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.ecs-hero-col > h1 {
  color: white;
  margin: 0;
  letter-spacing: normal;
}

.ecs-hero-col > p {
  margin: 0;
  letter-spacing: 0.01em;
  line-height: 1.55;
  color: #aab2bf;
}

.ecs-hero-btn {
  margin-top: 0.5rem;
  width: fit-content;
}

.ecs-hero-img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 782px) {
  .ecs-hero > .ecs-container {
    flex-direction: row;
    gap: 3.5rem;
  }

  .ecs-hero-img {
    object-fit: cover;
    width: 45%;
    max-height: 450px;
  }

  .ecs-hero-col > p {
    font-size: var(--wp--preset--font-size--medium);
  }
}
