.ecs-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 300ms ease;
}

.ecs-header.ecs-menu-open {
  box-shadow: none;
}

.ecs-header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-logo-link {
  display: flex;
}

.custom-logo {
  height: 30px;
  width: auto;
}

.ecs-navbar-container {
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 0 var(--ecs-x-padding) 1.25rem var(--ecs-x-padding);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 250ms ease,
    transform 300ms ease,
    visibility 300ms ease,
    box-shadow 300ms ease;
}

.ecs-navbar-container.ecs-menu-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.ecs-navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.ecs-navbar-divider {
  width: 100%;
  border-bottom: 0.125rem solid var(--ecs-lightest-grey);
}

.ecs-navbar-menu > .menu-item > a {
  color: var(--wp--preset--color--neutral-mid);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 300ms ease;
  cursor: pointer;
  font-weight: 400;
}

.ecs-navbar-menu > .current-menu-item > a,
.ecs-navbar-menu > .menu-item > a:hover {
  color: var(--wp--preset--color--text);
}

.ecs-navbar-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 0;
}

.ecs-menu-icon,
.ecs-x-icon.ecs-menu-open {
  display: block;
}

.ecs-x-icon,
.ecs-menu-icon.ecs-menu-open,
.ecs-navbar-btn-desktop,
.ecs-navbar-right-row-desktop {
  display: none;
}

.ecs-navbar-right-row-mobile {
  display: flex;
}

.ecs-navbar-right-row-desktop,
.ecs-navbar-right-row-mobile {
  align-items: center;
  gap: 0.6rem;
}

.ecs-navbar-basket {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 0.75rem;
  transition: opacity 300ms ease;
}

.ecs-navbar-basket:hover {
  color: white;
  opacity: 0.75;
}

.ecs-navbar-basket:active {
  opacity: 1;
}

.ecs-navbar-basket > img {
  width: 1.9rem;
  height: 1.9rem;
}

.ecs-navbar-basket > span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  bottom: 0.9rem;
  right: 0.5rem;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--wp--preset--color--accent);
  border-radius: 100%;
}

@media (min-width: 782px) {
  .ecs-navbar-toggle,
  .ecs-navbar-divider,
  .ecs-navbar-btn-mobile,
  .ecs-navbar-right-row-mobile {
    display: none;
  }

  .ecs-navbar-right-row-desktop {
    display: flex;
  }

  .ecs-navbar-btn-desktop {
    display: block;
  }

  .ecs-navbar-container {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    position: static;
    padding: 0;
    width: fit-content;
  }

  .ecs-navbar-container.ecs-menu-open {
    box-shadow: none;
  }

  .ecs-navbar-menu {
    flex-direction: row;
    gap: 2rem;
  }
}
