.ecs-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 300ms ease;
}

.ecs-header.ecs-menu-open {
  box-shadow: none;
}

.ecs-header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-logo-link {
  display: flex;
}

.custom-logo {
  height: 35px;
  width: auto;
}

.ecs-navbar-container {
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  padding: 0 var(--ecs-x-padding) 20px var(--ecs-x-padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 250ms ease,
    transform 300ms ease,
    visibility 300ms ease,
    box-shadow 300ms ease;
}

.ecs-navbar-container.ecs-menu-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.ecs-navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.ecs-navbar-divider {
  width: 100%;
  height: 0.125rem;
  background-color: var(--ecs-lightest-grey);
  border-radius: var(--ecs-border-radius);
}

.ecs-navbar-menu > .menu-item > a {
  color: var(--wp--preset--color--text);
  text-decoration: none;
  font-size: var(--wp--preset--font-size--normal);
  transition: color 300ms ease;
  cursor: pointer;
}

.ecs-navbar-menu > .current-menu-item > a,
.ecs-navbar-menu > .menu-item > a:hover {
  color: var(--wp--preset--color--primary);
}

.ecs-navbar-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 0;
}

.ecs-menu-icon,
.ecs-x-icon.ecs-menu-open {
  display: block;
}

.ecs-x-icon,
.ecs-menu-icon.ecs-menu-open,
.ecs-navbar-btn-desktop {
  display: none;
}

@media (min-width: 782px) {
  .ecs-navbar-toggle,
  .ecs-navbar-divider,
  .ecs-navbar-btn-mobile {
    display: none;
  }

  .ecs-navbar-btn-desktop {
    display: block;
  }

  .ecs-navbar-container {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    position: static;
    padding: 0;
    width: fit-content;
  }

  .ecs-navbar-container.ecs-menu-open {
    box-shadow: none;
  }

  .ecs-navbar-menu {
    flex-direction: row;
    gap: 2.25rem;
  }
}
